body {
    margin: 5%;
    font-size: 2em;
}

li {
    background-color: brown;
    margin: 10px;
    padding: 10px;
}

.grey {
    background-color: grey;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#black-item {
    background-color: black;
    color: yellowgreen;
}

.yellow {
    background-color: yellow;
}

